<mat-card class="dashboard-card">
    <app-card-header [card-name]="name"></app-card-header>
    <div class="container">
        <div class="imageOne image">
            <img alt="Outside Circle" id="outside-circle" src="../../../../assets/Outside-Circle.png">
        </div>
        <div class="imageTwo image">
            <img alt="Inner Circle" id="inner-circle" src="../../../../assets/Inner-Circle.png">
        </div>
        <div class="image">
            <img alt="Cross Hairs" id="crosshairs" src="../../../../assets/Crosshairs.png">
        </div>
    </div>
</mat-card>
