
.fill {
    width: 100%;
    height: 90%;
    background-color: #2a2b3c !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    margin: 5px;
}

.red {
    background-color: #af3735 !important;
}

.green {
    background-color: #4CAF50 !important;
}
