<mat-card class="dashboard-card-square">
  <app-card-header [card-name]="name"></app-card-header>
  <mat-card-content class="p-2">
    <mat-grid-list cols="3" rowHeight="150px" class="p-4">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="fill"></mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="fill"></mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="fill"></mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="fill"></mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="fill"></mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="fill"></mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="fill"></mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="fill"></mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="fill"></mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    <button mat-raised-button class="green mx-1">
      <h2>Line Follow</h2>
    </button>
    <button mat-raised-button class="green mx-1">
      <h2>Crack Detect</h2>
    </button>
  </mat-card-content>
</mat-card>
