<mat-grid-list cols="4" rowHeight="350px" class="p-4">
  <mat-grid-tile [colspan]="2" [rowspan]="2">
    <app-dam-grid></app-dam-grid>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="2">
    <app-digital-camera></app-digital-camera>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <app-sensor-probes></app-sensor-probes>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <app-benthic-species></app-benthic-species>
  </mat-grid-tile>
</mat-grid-list>

