<mat-card class="dashboard-card-long">
  <app-card-header [card-name]="name"></app-card-header>
  <mat-card-content id="content">
    <mat-grid-list cols="2" rowHeight="1:1">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card-actions>
          <input type="text" value="0" class="dial" id="thruster3">
          <h2>Thruster 1</h2>
        </mat-card-actions>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card-actions>
          <input type="text" value="0" class="dial" id="thruster4">
          <h2>Thruster 2</h2>
        </mat-card-actions>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card-actions>
          <input type="text" value="0" class="dial" id="thruster6">
          <h2>Thruster 3</h2>
        </mat-card-actions>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card-actions>
          <input type="text" value="0" class="dial" id="thruster5">
          <h2>Thruster 4</h2>
        </mat-card-actions>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card-actions>
          <input type="text" value="0" class="dial" id="thruster2">
          <h2>Thruster 5</h2>
        </mat-card-actions>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card-actions>
          <input type="text" value="0" class="dial" id="thruster1">
          <h2>Thruster 6</h2>
        </mat-card-actions>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>