<mat-card class="dashboard-card-drq-card mb-1">
  <app-card-header [card-name]="name"></app-card-header>
  <hr class="line mt-2">
  <div style="width: 50%; margin-left: 7%; float: left;">
    <h2 class="smalltext">Input Voltage</h2>
  </div>
  <app-error-text [align]="'righttext'" [name]="vIn" [unit]="'V'"></app-error-text>
  <hr class="line mt-2">
  <div style="width: 50%; margin-left: 7%; float: left;">
    <h2 class="smalltext">Output Voltage</h2>
  </div>
  <app-error-text [align]="'righttext'" [name]="vOut" [unit]="'V'"></app-error-text>
  <hr class="line mt-2">
  <div style="width: 50%; margin-left: 7%; float: left;">
    <h2 class="smalltext">Output Current</h2>
  </div>
  <app-error-text [align]="'righttext'" [name]="iOut" [unit]="'Amps'"></app-error-text>
  <hr class="line mt-2">
  <div style="width: 50%; margin-left: 7%; float: left;">
    <h2 class="smalltext">Temperature</h2>
  </div>
  <app-error-text [align]="'righttext'" [name]="drqTemp" [unit]="'C'"></app-error-text>
  <hr class="line mt-2">
</mat-card>
